* {
  box-sizing: border-dox;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.picTitle{
  text-align: center;
}
#likeButton{
padding-left: 170px;}

#unLikeButton{
  padding-left: 170px;
}
#searchButton{
  height: 34px;
}
#pic{
  width: 413px;
  height:300px;
}
#searchInput{
 width: 87%;
 height: 30px;
}
